<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Farid's Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color:red;">
	<center><h1>Usefull Items</h1></center>
	<br>
	<br>
	<br>
	<br>

	<center><h2 class = "iphones">Iphones</h2></center>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
<h3>Iphone-13</h3>
	<img src="./static/iphone-13.jpeg"  >
	<br>

<h3>1000$</h3>
<br>
<br>

<h3>Iphone-12</h3>
	<img src="./static/iphone-12.jpeg"  >
	<br>

<h3>700$</h3>

<br>
<br>

<h3>Iphone-11</h3>
	<img src="./static/iphone-11.jpeg"  >
	<br>

<h3>500$</h3>
<br>
	
<a href=/product>product page</a>
<a href=/cart>cart page</a>
<button > Add to Cart</button>



</body>
</html>