<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    </head>
    <h1>Sport Balls<h1>
    	<center> <h1 class="farid">Sport Balls<h1></center>
	<br>
	<br>
	<br>
	<br>
	<h3>basketball</h3>
	<img src="./static/basketball.jpeg"  >
	<br>

<h3>60$</h3>
<br>
<br>

<h3>American-Football</h3>
	<img src="./static/American-Football.jpeg"  >
	<br>

<h3>15$</h3>

<br>
<br>

<h3>football</h3>
	<img src="./static/football.jpeg"  >
	<br>

<h3>20$</h3>
<br>
<br>
<br>
<a href=/cart>cart page</a>

<body>

</body>
</html>